{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="static/Financial-and-Funds.css" media="screen">
    <section class="u-clearfix u-custom-color-2 u-section-1" id="sec-4024">
      <div class="u-clearfix u-custom-color-2 u-section-1">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <h1 class="u-align-center u-heading-font u-text u-title u-text-1">Financial BI</h1>
            <iframe width="1300" height="600" src="https://datastudio.google.com/embed/reporting/0fe289d8-ad78-44e7-a342-56c7c50eb04d/page/g6O9B" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
    
{% endblock %}