{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="static/Fishing-BI.css" media="screen">
    <section class="u-clearfix u-custom-color-2 u-section-1" id="sec-ea43">
      <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
        <h1 class="u-align-center u-heading-font u-text u-title u-text-1">Fishing BI</h1>
        <div class="u-expanded-width u-list u-repeater u-list-1">
          <div class="u-align-center u-container-style u-custom-color-1 u-list-item u-repeater-item u-list-item-1">
            <div class="u-container-layout u-similar-container u-container-layout-1">
              <img alt="" class="u-expanded-width u-image u-image-default u-image-1" data-image-width="500" data-image-height="500" src="static/images/Checklist_Isometric.png">
              <h3 class="u-text u-text-6">Fish Price
              </h3>
              <div class="u-border-1 u-border-grey-dark-1 u-expanded-width u-line u-line-horizontal u-line-1"></div>
              <p class="u-text u-text-7">Cek Harga ikan dan produk perikanan lainnya dengan data terbaru untuk maksimalkan keuntungan penjualan</p>
            </div>
          </div>
          <div class="u-align-center u-container-style u-custom-color-1 u-list-item u-repeater-item u-list-item-2">
            <div class="u-container-layout u-similar-container u-container-layout-2">
              <img alt="" class="u-expanded-width u-image u-image-default u-image-2" data-image-width="500" data-image-height="500" src="static/images/Weather_Monochromatic.png">
              <h3 class="u-text u-text-6">Fishing Time
              </h3>
              <div class="u-border-1 u-border-grey-dark-1 u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-line u-line-horizontal u-line-2"></div>
              <p class="u-text u-text-7">Temukan waktu yang tepat untuk mencari ikan dengan prediksi cuaca yang akurat</p>
            </div>
          </div>
          <div class="u-align-center u-container-style u-custom-color-1 u-list-item u-repeater-item u-list-item-3">
            <div class="u-container-layout u-similar-container u-container-layout-3">
              <img alt="" class="u-expanded-width u-image u-image-default u-image-3" data-image-width="500" data-image-height="500" src="static/images/Artificialintelligence_Flatline.png">
              <h3 class="u-text u-text-6">Fish&nbsp;<br>Recognition 
              </h3>
              <div class="u-border-1 u-border-grey-dark-1 u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-line u-line-horizontal u-line-3"></div>
              <p class="u-text u-text-7">Kenali hasil tangkapan dengan teknologi AI-Computer Vision untuk menentukan harga yang tepat dan keuntungan maksimal</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
{% endblock %}