{% extends "base.html" %}
{% block content %}
    <section class="u-align-center u-clearfix u-custom-color-2 u-section-1" id="carousel_d4e0">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-sheet-1">
        <div class="u-expanded-width-sm u-expanded-width-xs u-list u-repeater u-list-1">
          <div class="u-align-center u-container-style u-list-item u-opacity u-opacity-20 u-palette-4-light-2 u-repeater-item u-shape-rectangle u-list-item-1">
            <div class="u-container-layout u-similar-container u-valign-bottom-md u-valign-bottom-sm u-valign-top-xs u-container-layout-1">
              <h4 class="u-text u-text-body-alt-color u-text-1">Smart&nbsp;<br>Marketplace<br>
              </h4>
              <p class="u-text u-text-body-alt-color u-text-2">Platform jual beli produk perikanan dan kelautan yang mengedepankan sustainability dan partnership</p>
            </div>
          </div>
          <div class="u-align-center u-container-style u-list-item u-opacity u-opacity-20 u-palette-4-light-2 u-repeater-item u-shape-rectangle u-video-cover u-list-item-2">
            <div class="u-container-layout u-similar-container u-valign-bottom-md u-valign-bottom-sm u-valign-top-xs u-container-layout-2">
              <h4 class="u-text u-text-body-alt-color u-text-3">Business Intelligence</h4>
              <p class="u-text u-text-body-alt-color u-text-4">Teknologi bisnis intelijen bagi Nelayan, Pemerintah, Lembaga keuangan, serta stakeholder lainnya</p>
            </div>
          </div>
        </div>
        <div class="u-palette-1-base u-shape u-shape-circle u-shape-1"></div>
        <div class="u-palette-5-base u-shape u-shape-circle u-shape-2"></div>
        <img src="static/images/fismartnorectangle1.png" alt="" class="u-image u-image-default u-preserve-proportions u-image-1" data-image-width="321" data-image-height="321">
        <img src="static/images/fismartnorectangle1.png" alt="" class="u-image u-image-default u-preserve-proportions u-image-2" data-image-width="321" data-image-height="321">
        <img src="static/images/Fishing_Flatline.png" alt="" class="u-image u-image-default u-image-3" data-image-width="500" data-image-height="500">
        <h5 class="u-align-center-xs u-align-justify-lg u-align-justify-md u-align-justify-sm u-align-justify-xl u-text u-text-5">FisMart bertujuan untuk membantu Nelayan dan Konsumen mendapatkan harga dan kualitas ikan yang lebih baik dengan memotong rantai distribusi yang panjang melalui smart marketplace. Selain itu kami menyediakan teknologi analitik bagi nelayan, pemerintah, lembaga keuangan dan stakeholder lainnya.</h5>
      </div>
    </section>
{% endblock %}