{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="static/Government-Dashboard.css" media="screen">
    <section class="u-clearfix u-custom-color-2 u-section-1" id="sec-4024">
      <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <h3 class="content-header">Fismart Price Check and Analysis</h3>
              <iframe width="1100" height="450" src="https://datastudio.google.com/embed/reporting/0390222a-eec9-4b9b-9966-a399cf7afe98/page/l9Z8B" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6"></div>
          </div>
        </div>     
      </div>
    </section>
    
{% endblock %}